
.image{
    width: 100px;
    height: 100px;
}

.generalBox{
    display: flex;
    flex-direction: column;
}

.buttonsBox{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.imagesList{
        display: flex;
        flex-direction: row;
        justify-content: center;
        max-width: 600px;
        flex-wrap: wrap;
}